<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <title>DPC admin</title>
        {% block stylesheets %}
            {{ include('@DPCAdminBundle/Resources/views/components/admin_template_css.html.twig') }}
        {% endblock %}
    </head>

    <body hoe-navigation-type="vertical" hoe-nav-placement="left" theme-layout="wide-layout">
        <!--side navigation start-->
        <div id="hoeapp-wrapper" class="hoe-hide-lpanel" hoe-device-type="desktop">
            <header id="hoe-header" hoe-lpanel-effect="shrink">
                <div class="hoe-left-header">
                    <a href="#"> <span>DPC Admin</span></a>
                    <span class="hoe-sidebar-toggle"><a href="#"></a></span>
                </div>

                <div class="hoe-right-header" hoe-position-type="relative">
                    </ul>
                    <ul class="right-navbar navbar-right">
                        <li class="dropdown"> 
                            <a href="#" data-toggle="dropdown" class="dropdown-toggle">{{ app.user.username }}</a>
                            <ul class="dropdown-menu dropdown-menu-scale user-dropdown">
                                <li><a href="{{ path('fos_user_security_logout') }}"><i class="ion-log-out"></i>Déconnexion </a></li>
                                <li><a href="{{ path('fos_user_change_password') }}"><i class="ion-log-out"></i>Changer mot de passe</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </header>
            <div id="hoeapp-container" hoe-color-type="lpanel-bg7" hoe-lpanel-effect="shrink">

                {% block admin_content %}
                        
                {% endblock %}

            </div>
        </div><!--end wrapper-->


        {% block javascript %}
            {{ include('@DPCAdminBundle/Resources/views/components/admin_template_js.html.twig') }}
            <script type="text/javascript">
                tinymce.init({
                    selector: '.tinyMCE',
                    plugins : 'advlist autolink link image lists charmap print preview',
                    //toolbar: 'undo redo | styleselect | bold italic | link image'
                });
            </script>
        {% endblock %}
    </body>
</html>