<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>
            {% block title %} DPC74 {% endblock %}
        </title>

        {% block stylesheets %}
            {{ include('components/css/base_template_css.html.twig') }}
            {{ include('components/css/e-commerce_template_css.html.twig') }}
        {% endblock %}
    </head>
    <body>
        {{ include('components/dpc_topbar.html.twig') }}

        {{ include('components/dpc_navbar.html.twig') }}

        {% block bundle_body %}

        {% endblock %}

        <div class="divide60"></div>

        {{ include('components/dpc_footer.html.twig') }}

        {% block javascript %}
            {{ include('components/js/base_template_js.html.twig') }}
            {{ include('components/js/e-commerce_template_js.html.twig') }}
        {% endblock %}
    </body>
</html>
