{% extends "DPCAdminBundle::admin_layout.html.twig" %}

{% block admin_content %}
	<aside id="hoe-left-panel" hoe-position-type="absolute">
		<ul class="nav panel-list">
			{{ include('@DPCAdminBundle/Resources/views/components/menus/closed/home_page.html.twig') }}
			{{ include('@DPCAdminBundle/Resources/views/components/menus/closed/contact_info.html.twig') }}
			{{ include('@DPCAdminBundle/Resources/views/components/menus/opened/product.html.twig') }}
			{{ include('@DPCAdminBundle/Resources/views/components/menus/closed/brand.html.twig') }}
			{{ include('@DPCAdminBundle/Resources/views/components/menus/closed/category.html.twig') }}
			{{ include('@DPCAdminBundle/Resources/views/components/menus/closed/faq.html.twig') }}
			{{ include('@DPCAdminBundle/Resources/views/components/menus/closed/service.html.twig') }}
		</ul>  
	</aside><!--aside left menu end-->

	<section id="main-content">
		{{ include('@DPCAdminBundle/Resources/views/components/flash_message.html.twig') }}
		{% if productSearchForm is defined %}
			<div class="row">
				<div class="col-md-12">
					<div class="panel">
						<header class="panel-heading">
							<h2 class="panel-title">{{ 'Recherche produit'|upper }}</h2>
						</header>
						<div class="panel-body">
							{{ form_start(productSearchForm, {'attr': {'class': 'form-inline', 'role': 'form'}}) }}
							<div class="form-group">
	                            {{ form_label(productSearchForm.title, "Nom:", {'label_attr': {'class': 'control-label'}}) }}
	                            {{ form_errors(productSearchForm.title) }}
	                            {{ form_widget(productSearchForm.title, {'attr': {'class': 'form-control'}}) }}
                          	</div>
                          	<div class="form-group">
	                            {{ form_label(productSearchForm.category, "Catégorie:", {'label_attr': {'class': 'control-label'}}) }}
	                            {{ form_errors(productSearchForm.category) }}
	                            {{ form_widget(productSearchForm.category, {'attr': {'class': 'form-control'}}) }}
                          	</div>
                          	<div class="form-group">
	                            {{ form_label(productSearchForm.brand, "Marque:", {'label_attr': {'class': 'control-label'}}) }}
	                            {{ form_errors(productSearchForm.brand) }}
	                            {{ form_widget(productSearchForm.brand, {'attr': {'class': 'form-control'}}) }}
                          	</div>
                          	<div class="form-group col-lg-1">
	                            {{ form_label(productSearchForm.occasion, "Occasion:", {'label_attr': {'class': 'control-label'}}) }}
	                            {{ form_errors(productSearchForm.occasion) }}
	                            {{ form_widget(productSearchForm.occasion, {'attr': {'class': 'form-control'}}) }}
                          	</div>
                          	<div class="form-group col-lg-1">
	                            {{ form_label(productSearchForm.promo, "Promotion:", {'label_attr': {'class': 'control-label'}}) }}
	                            {{ form_errors(productSearchForm.promo) }}
	                            {{ form_widget(productSearchForm.promo, {'attr': {'class': 'form-control'}}) }}
                          	</div>
                          	<button class="btn btn-lg btn-primary rounded" type="submit">
								Rechercher
                            </button>
							{{ form_end(productSearchForm) }}
						</div>
					</div>
				</div><!--col end-->
		</div><!--row end-->
		{% endif %}

		<div class="row">
			<div class="col-md-12">
				<div class="panel">
					<header class="panel-heading">
						<h2 class="panel-title">{{ title|upper }}</h2>
					</header>
					<div class="panel-body">
						<table class="table table-hover">
							<thead>
								<tr>
									<th>ID</th>
									<th>Titre</th>
									<th>Crée le</th>
									<th>MAJ le</th>
									<th>Prix</th>
									<th>Réduction (%)</th>
									<th>Occasion</th>
									<th>Promotion</th>
									<th>Garantie (m)</th>
									<th>Marque</th>
									<th style="width:5%;">Images</th>
								</tr>
							</thead>
							<tbody>
								{% for product in listProducts %}
									<tr>
										<th scope="row">
											<a href="{{ path('dpc_admin_edit_product', {'id': product.id}) }}">
												{{ product.id }}
											</a>
										</th>
										<td>{{ product.title }}</td>
										<td>{{ product.date|date('d/m/Y') }}</td>
										<td>{{ product.updateDate|date('d/m/Y') }}</td>
										<td>{{ product.price }}</td>
										<td>{{ product.discount }}</td>
										<td>{% if product.occasion %}
											Oui
										{% else %}
											Non
										{% endif %}</td>
										<td>{% if product.promo %}
											Oui
										{% else %}
											Non
										{% endif %}</td>
										<td>{{ product.warranty }}</td>
										<td>
											{% if product.brand.title is defined %}
												{{ product.brand.title }}
											{% endif %}
										</td>
										<td>
											{% for image in product.images %}
												<a href="{{ vich_uploader_asset(image, 'imageFile') }}">
													<img src="{{ vich_uploader_asset(image, 'imageFile') }}" alt="{{ image.alt }}" class="img-responsive">
												</a>
											{% endfor %}
										</td>

									</tr>

								{% endfor %}
							</tbody>
						</table>
						{% if listProducts is empty %}
							<div class="text-center">Aucun produit pour le moment</div>
						{% endif %}
					</div>
				</div>
			</div><!--col end-->
		</div><!--row end-->
		<div class="row">
			<div class="text-center">.
				<ul class="pagination">
					{% if nbPages is defined and nbPages != 0 %}
						{% for p in range(1, nbPages) %}
							<li {% if p == page %}class="active"{% endif %}>
								<a href="{{ path('dpc_admin_products', {'page': p}) }}" class="catalogue">{{ p }}</a>
							</li>
						{% endfor %}
					{% endif %}
				</ul>
			</div> <!-- div.text-center -->
		</div> <!-- div.row -->
	</section>
{% endblock %}

