<div class='well'>
    <div class='form-group'>
        <div style='padding-left:30px'>
            {{ form_label(form.sectionFourElements.vars.prototype, '',{'label_attr': {'class': 'control-label'}})|e('html_attr') }}
        </div>
        <div class='form-group'>
            {{ form_label(form.sectionFourElements.vars.prototype.firstName, 'Prénom:', {'label_attr': {'class': 'col-lg-3 control-label'}})|e('html_attr') }}
            {{ form_errors(form.sectionFourElements.vars.prototype.firstName)|e('html_attr') }}
            <div class='col-lg-9'>
                {{ form_widget(form.sectionFourElements.vars.prototype.firstName, {'attr': {'class': 'form-control', 'required': 'required'}})|e('html_attr') }}
            </div>
        </div>
        <div class='form-group'>
            {{ form_label(form.sectionFourElements.vars.prototype.status, 'Status:', {'label_attr': {'class': 'col-lg-3 control-label'}})|e('html_attr') }}
            {{ form_errors(form.sectionFourElements.vars.prototype.status)|e('html_attr') }}
            <div class='col-lg-9'>
                {{ form_widget(form.sectionFourElements.vars.prototype.status, {'attr': {'class': 'form-control', 'required': 'required'}})|e('html_attr') }}
            </div>
        </div>
        <div class='form-group'>
            <div class='row text-right'>
                {{ form_label(form.sectionFourElements.vars.prototype.image, 'Image',{'label_attr': {'class': 'control-label col-lg-4'}})|e('html_attr') }}
            </div>
            <div class='form-group'>
                {{ form_label(form.sectionFourElements.vars.prototype.image.title, 'Titre image:', {'label_attr': {'class': 'col-lg-3 control-label'}})|e('html_attr') }}
                {{ form_errors(form.sectionFourElements.vars.prototype.image.title)|e('html_attr') }}
                <div class='col-lg-9'>
                    {{ form_widget(form.sectionFourElements.vars.prototype.image.title, {'attr': {'class': 'form-control', 'required': 'required'}})|e('html_attr') }}
                </div>
            </div>
            <div class='form-group'>
                {{ form_label(form.sectionFourElements.vars.prototype.image.alt, 'Texte alternatif:', {'label_attr': {'class': 'col-lg-3 control-label'}})|e('html_attr') }}
                {{ form_errors(form.sectionFourElements.vars.prototype.image.alt)|e('html_attr') }}
                <div class='col-lg-9'>
                    {{ form_widget(form.sectionFourElements.vars.prototype.image.alt, {'attr': {'class': 'form-control', 'required': 'required'}})|e('html_attr') }}
                </div>
            </div>
            <div class='form-group'>
                {{ form_label(form.sectionFourElements.vars.prototype.image.imageFile, 'Fichier:', {'label_attr': {'class': 'col-lg-3 control-label'}})|e('html_attr') }}
                {{ form_errors(form.sectionFourElements.vars.prototype.image.imageFile)|e('html_attr') }}
                <div class='col-lg-8'>
                    {{ form_widget(form.sectionFourElements.vars.prototype.image.imageFile, {'attr': {'class': '', 'required': 'required'}})|e('html_attr') }}
                </div>
            </div>
        </div>
        <div class='delete-button' style='padding-left:30px' ></div>
    </div>
</div> <!-- div.well -->