{% extends "DPCAdminBundle::admin_layout.html.twig" %}

{% block admin_content %}
    <aside id="hoe-left-panel" hoe-position-type="absolute">
        <ul class="nav panel-list">
            {{ include('@DPCAdminBundle/Resources/views/components/menus/closed/home_page.html.twig') }}
            {{ include('@DPCAdminBundle/Resources/views/components/menus/closed/contact_info.html.twig') }}
            {{ include('@DPCAdminBundle/Resources/views/components/menus/closed/product.html.twig') }}
            {{ include('@DPCAdminBundle/Resources/views/components/menus/closed/brand.html.twig') }}
            {{ include('@DPCAdminBundle/Resources/views/components/menus/closed/category.html.twig') }}
            {{ include('@DPCAdminBundle/Resources/views/components/menus/closed/faq.html.twig') }}
            {{ include('@DPCAdminBundle/Resources/views/components/menus/opened/service.html.twig') }}
        </ul>  
    </aside><!--aside left menu end-->

    <section id="main-content">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel">
                <header class="panel-heading">
                    <h2>{{ title|upper }}</h2>
                </header> <!-- header.panel-heading -->
                <div class="panel-body">
                    {{ form_start(form, {'attr': {'class': 'form-horizontal', 'role': 'form'}}) }}
                    {{ form_errors(form) }}
                    <div class="form-group">
                        {{ form_label(form.title, "Titre:", {'label_attr': {'class': 'col-lg-3 control-label'}}) }}
                        {{ form_errors(form.title) }}
                        <div class="col-lg-9">
                            {{ form_widget(form.title, {'attr': {'class': 'form-control'}}) }}
                        </div>
                    </div>
                    <div class="form-group">
                        {{ form_label(form.shortDescription, "Description courte:", {'label_attr': {'class': 'col-lg-3 control-label'}}) }}
                        {{ form_errors(form.shortDescription) }}
                        <div class="col-lg-9">
                            {{ form_widget(form.shortDescription, {'attr': {'class': 'form-control'}}) }}
                        </div>
                    </div>
                    <div class="form-group">
                        {{ form_label(form.longDescription, "Description longue:", {'label_attr': {'class': 'col-lg-3 control-label'}}) }}
                        {{ form_errors(form.longDescription) }}
                        <div class="col-lg-9">
                            {{ form_widget(form.longDescription, {'attr': {'class': 'form-control'}}) }}
                        </div>
                    </div>
                    <div class="form-group">
                        {{ form_label(form.priceMin, "Prix minimum:", {'label_attr': {'class': 'col-lg-3 control-label'}}) }}
                        {{ form_errors(form.priceMin) }}
                        <div class="col-lg-9">
                            {{ form_widget(form.priceMin, {'attr': {'class': 'form-control'}}) }}
                        </div>
                    </div>
                    <div class="form-group">
                        {{ form_label(form.category, "Catégorie:", {'label_attr': {'class': 'col-lg-3 control-label'}}) }}
                        {{ form_errors(form.category) }}
                        <div class="col-lg-9">
                            {{ form_widget(form.category, {'attr': {'class': 'form-control'}}) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-group">
                          {{ form_label(form.image, "Illustration:", {'label_attr': {'class': 'col-lg-3 control-label'}}) }}
                        </div> <!-- div.form-group -->
                        <div class="form-group">
                            {{ form_label(form.image.title, "Titre Image:", {'label_attr': {'class': 'col-lg-4 control-label'}}) }}
                            {{ form_errors(form.image.title) }}
                            <div class="col-lg-8">
                                {{ form_widget(form.image.title, {'attr': {'class': 'form-control'}}) }}
                            </div>
                        </div>
                        <div class="form-group">
                            {{ form_label(form.image.alt, "Texte Alertatif:", {'label_attr': {'class': 'col-lg-4 control-label'}}) }}
                            {{ form_errors(form.image.alt) }}
                            <div class="col-lg-8">
                                {{ form_widget(form.image.alt, {'attr': {'class': 'form-control'}}) }}
                            </div>
                        </div>
                        <div class="form-group">
                            {{ form_label(form.image.imageFile, "Fichier:", {'label_attr': {'class': 'col-lg-4 control-label'}}) }}
                            {{ form_errors(form.image.imageFile) }}
                            <div class="col-lg-8">
                                {{ form_widget(form.image.imageFile, {'attr': {'class': ''}}) }}
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-offset-2 col-lg-10">
                            <div class="pull-right">
                                <button class="btn btn-success rounded" type="submit">
                                    {% if action == 'add' %}
                                        Ajouter
                                    {% else %}
                                        Editer
                                    {% endif %}
                                </button>
                            </div>
                        </div>
                    </div>
                    {{ form_rest(form) }}
                    {{ form_end(form) }}
                </div> <!-- div.panel-body -->
            </div> <!-- div.panel -->
        </div> <!-- div.col-md-6 -->

        {% if deleteForm is defined %}
            <div class="col-md-8 col-md-offset-2">
                <div class="panel">
                    <header class="panel-heading">
                        <h2>SUPPRIMER LE SERVICE</h2>
                    </header> <!-- header.panel-heading -->
                    <div class="panel-body">
                        {{ form_start(deleteForm, {'attr': {'class': 'form-horizontal', 'role': 'form'}}) }}
                        {{ form_errors(deleteForm) }}
                        {{ form_label(deleteForm.delete, "Supprimer le Thème:", {'label_attr': {'class': 'col-lg-3 control-label'}}) }}
                        {{ form_errors(deleteForm.delete) }}
                        <div class="col-lg-3">
                            {{ form_widget(deleteForm.delete, {'attr': {'class': 'form-control'}}) }}
                        </div>
                        <div class="form-group">
                            <div class="col-lg-offset-2 col-lg-10">
                                <div class="pull-right">
                                    <button class="btn btn-danger rounded" type="submit" >Supprimer</button>
                                </div>
                            </div>
                        </div>
                        {{ form_rest(deleteForm) }}
                        {{ form_end(deleteForm) }}
                    </div> <!-- div.panel-body -->
                    </div> <!-- div.panel -->
                </div> <!-- div.col-md-6 -->
          {% endif %}
    </section>
{% endblock %}

