{% extends "DPCAdminBundle::admin_layout.html.twig" %}

{% block admin_content %}
	<aside id="hoe-left-panel" hoe-position-type="absolute">
		<ul class="nav panel-list">
			{{ include('@DPCAdminBundle/Resources/views/components/menus/closed/home_page.html.twig') }}
			{{ include('@DPCAdminBundle/Resources/views/components/menus/closed/contact_info.html.twig') }}
			{{ include('@DPCAdminBundle/Resources/views/components/menus/closed/product.html.twig') }}
			{{ include('@DPCAdminBundle/Resources/views/components/menus/closed/brand.html.twig') }}
			{{ include('@DPCAdminBundle/Resources/views/components/menus/closed/category.html.twig') }}
			{{ include('@DPCAdminBundle/Resources/views/components/menus/closed/faq.html.twig') }}
			{{ include('@DPCAdminBundle/Resources/views/components/menus/opened/service.html.twig') }}
		</ul>  
	</aside><!--aside left menu end-->

	<section id="main-content">
		{{ include('@DPCAdminBundle/Resources/views/components/flash_message.html.twig') }}
		<div class="row">
			<div class="col-md-8 col-lg-offset-2">
				<div class="panel">
					<header class="panel-heading">
						<h2 class="panel-title">{{ title|upper }}</h2>
					</header>
					<div class="panel-body">
						<table class="table table-hover">
							<thead>
								<tr>
									<th>ID</th>
									<th>Titre</th>
									<th>Catégorie</th>
									<th>Prix min</th>
									<th style="width:5%;">Image</th>
								</tr>
							</thead>
							<tbody>
								{% if listServices is not empty %}
									{% for service in listServices %}
										<tr>
											<th scope="row">
												<a href="{{ path('dpc_admin_edit_service', {'id': service.id}) }}">
													{{ service.id }}
												</a>
											</th>
											<td>{{ service.title }}</td>
											<td>{{ service.category.title }}</td>
											<td>{{ service.priceMin }}</td>
											<td>
												<a href="{{ vich_uploader_asset(service.image, 'imageFile') }}">
													<img src="{{ vich_uploader_asset(service.image, 'imageFile') }}" alt="{{ service.image.alt }}" class="img-responsive">
												</a>
											</td>
										</tr>

									{% endfor %}
								{% endif %}
							</tbody>
						</table>
						{% if listServices is empty %}
							<div class="text-center">Aucun service pour le moment</div>
						{% endif %}
					</div>
				</div>
			</div><!--col end-->
		</div><!--row end-->
	</section>
{% endblock %}

