{% extends "DPCAdminBundle::admin_layout.html.twig" %}

{% block admin_content %}
	<aside id="hoe-left-panel" hoe-position-type="absolute">
		<ul class="nav panel-list">
			{{ include('@DPCAdminBundle/Resources/views/components/menus/closed/home_page.html.twig') }}
			{{ include('@DPCAdminBundle/Resources/views/components/menus/closed/contact_info.html.twig') }}
			{{ include('@DPCAdminBundle/Resources/views/components/menus/closed/product.html.twig') }}
			{{ include('@DPCAdminBundle/Resources/views/components/menus/closed/brand.html.twig') }}
			{{ include('@DPCAdminBundle/Resources/views/components/menus/closed/category.html.twig') }}
			{{ include('@DPCAdminBundle/Resources/views/components/menus/closed/faq.html.twig') }}
			{{ include('@DPCAdminBundle/Resources/views/components/menus/opened/service.html.twig') }}
		</ul>  
	</aside><!--aside left menu end-->

	<section id="main-content">
		<div class="row">
			<div class="col-md-8 col-md-offset-2">
				<div class="panel">
					<header class="panel-heading">
						<h2 class="panel-title">{{ title|upper }}</h2>
					</header>
					<div class="panel-body">
						<table class="table table-hover">
							<thead>
								<tr>
									<th>ID</th>
									<th>Titre</th>
									<th>Nb services associés</th>
									<th style="width:5%;">Image</th>
								</tr>
							</thead>
							<tbody>
								{% if listServiceCategories is not empty %}
									{% for serviceCategory in listServiceCategories %}
										<tr>
											<th scope="row">
												<a href="{{ path('dpc_admin_edit_service_category', {'id': serviceCategory.id}) }}">
													{{ serviceCategory.id }}
												</a>
											</th>
											<td>{{ serviceCategory.title }}</td>
											<td>{{ serviceCategory.countServices }}</td>
											<td>
												<a href="{{ vich_uploader_asset(serviceCategory.image, 'imageFile') }}">
													<img src="{{ vich_uploader_asset(serviceCategory.image, 'imageFile') }}" alt="{{ serviceCategory.image.alt }}" class="img-responsive">
												</a>
											</td>
										</tr>
									{% endfor %}
								{% endif %}
							</tbody>
						</table>
					</div>
				</div>
			</div><!--col end-->
		</div><!--row end-->
	</section>
{% endblock %}

