{% trans_default_domain 'FOSUserBundle' %}

	<div class="breadcrumb-wrapper" >
		<div class="container">
			<h1>{{ 'Changer le mot de pass'|upper }}</h1>
		</div>
	</div>
	<!--end breadcrumb-->
	<div class="space-60"></div>

	<div class="container">
		<div class="page-center">
			<div class="page-center-in">

				{{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password sign-box' } }) }}
				{{ form_errors(form) }}
				{{ form_widget(form) }}

				<div>
					<input type="submit" value="{{ 'change_password.submit'|trans }}" />
				</div>
				{{ form_end(form) }}

			</div><!--page center in-->
		</div><!--page center-->
	</div>