{% extends "DPCStoreBundle::layout.html.twig" %}

{% block title %}
  Accueil - {{ parent() }}
{% endblock %}

{% block dpcstore_body %}

  <h2>Promo</h2>

  <p>
        <a href="{{ path('dpc_store_promo', {'id': promo.id}) }}">
          {{ promo.title }}
        </a>
        le {{ promo.date|date('d/m/Y') }}
        <p>
          {{ promo.description }}
        </p>
  </p>

{% endblock %}