{% extends "DPCStoreBundle::layout.html.twig" %}

{% block title %}
  Accueil - {{ parent() }}
{% endblock %}

{% block dpcstore_body %}

  <h2>Les promos</h2>

  <ul>
    {% for promo in listPromos %}
      <li>
        <a href="{{ path('dpc_store_promo', {'id': promo.id}) }}">
          {{ promo.title }}
        </a>
        le {{ promo.date|date('d/m/Y') }}
        <p>
          {{ promo.description }}
        </p>
      </li>
    {% else %}
      <li>Pas (encore !) de promos</li>
    {% endfor %}
  </ul>

{% endblock %}