{% extends "DPCHomeBundle::layout.html.twig" %}

{% block dpc_home_body %}
    <!--breadcrumb start-->
    <div class="breadcrumb-wrapper" >
        <div class="container">
            <h1>{{ home.title }}</h1>
        </div>
    </div> <!--end breadcrumb-->

    <div class="container">
        {{ include('components/dpc_home_slider.html.twig') }}
        <div class="divide60"></div>
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
                <div class="center-heading">
                    <h2>{{ home.sectionOne.title }}</h2>
                    <span class="center-line"></span>
                    <p class="sub-text margin40">{{ home.sectionOne.text|raw }}</p>
                </div>
            </div>
        </div><!--center heading end-->
    </div>

    <div class="blue-bg">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 margin30">
                    <div class="services-box wow animated fadeInDown">
                        <div class="services-box-icon">
                            <i class="{{ home.sectionTwo.icone1 }}"></i>
                        </div><!--services icon-->
                        <div class="services-box-info">
                            <h4>{{ home.sectionTwo.title1 }}</h4>
                            <p>
                                {{ home.sectionTwo.text1|raw }}
                            </p>
                        </div>
                    </div><!--service box-->
                </div>
                <div class="col-sm-6 margin30">
                    <div class="services-box wow animated fadeInDown">
                        <div class="services-box-icon">
                            <i class="{{ home.sectionTwo.icone2 }}"></i>
                        </div><!--services icon-->
                        <div class="services-box-info">
                            <h4>{{ home.sectionTwo.title2 }}</h4>
                            <p>
                                {{ home.sectionTwo.text2|raw }}
                            </p>
                        </div>
                    </div><!--service box-->
                </div>
            </div>
        </div>
    </div><!--full wide 2 columns content end-->

    <div class="divide70"></div>
    <div class="assan-features">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="center-heading">
                        <h2>{{ home.titleSectionThree }}</h2>
                        <span class="center-line"></span>
                    </div>
                </div>                   
            </div>
            <div class="row">
                {% for sectionThreeElement in home.sectionThreeElements %}
                    <div class="col-md-4 col-sm-6 margin20">
                        <div class="services-box wow animated fadeIn" data-wow-duration="700ms" data-wow-delay="100ms">
                            <div class="services-box-icon">
                                <i class="{{ sectionThreeElement.icone }}"></i>
                            </div><!--services icon-->
                            <div class="services-box-info">
                                <h4><a href="{{ sectionThreeElement.link }}">{{ sectionThreeElement.title }}</a></h4>
                                <p>
                                    {{ sectionThreeElement.text|raw }}
                                </p>
                            </div>
                        </div><!--services box-->
                    </div><!--services col-->
                {% endfor %}
            </div><!--services row-->
        </div>
    </div><!--assan features-->
    <div class="divide40"></div>

    <div class="our-team-v-2">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="center-heading">
                        <h2>{{ home.titleSectionFour }}</h2>
                        <span class="center-line"></span>
                    </div>
                </div>                   
            </div>
            <div class="row">
                {% for sectionFourElement in home.sectionFourElements %}
                    <div class="col-sm-3 text-center {% if loop.first %}col-md-offset-3{% endif %}">
                        <div class="person-v2">
                            <img src="{{ vich_uploader_asset(sectionFourElement.image, 'imageFile') }}" class="img-responsive" alt="{{ sectionFourElement.image.alt }}">
                            <div class="person-desc-v2">
                                <h3>{{ sectionFourElement.firstName }}</h3>
                                <em>{{ sectionFourElement.status }}</em>
                            </div>
                        </div>
                    </div><!--person col end-->
                {% endfor %}
            </div>
        </div>
    </div><!--our team v-2-->
{% endblock %}