{% extends "DPCServiceBundle::layout.html.twig" %}

{% block dpc_service_body %}
	
	<!--breadcrumb start-->
	<div class="breadcrumb-wrapper" >
		<div class="container">
			<h1>{{ serviceCategory.title|upper }}</h1>
		</div>
	</div>
	<!--end breadcrumb-->

	<div class="space-60"></div>
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				{% for service in serviceCategory.services %}
					<div class="product-list">
						<div class="row">
							<div class="col-md-2 margin-b-30">
								<div class="product-list-thumb">
									<a href="#"> <img src="{{ vich_uploader_asset(service.image, 'imageFile') }}" alt="service.image.alt" class="img-responsive"></a>
								</div>
							</div>
							<div class="col-md-8">
								<div class="product-list-desc">
									<h3 class="title"><a href="{{ path('dpc_service_details', { 'id': service.id }) }}">{{ service.title|upper }}</a></h3>
									<h5 > <span class="price">A partir de {{ service.priceMin }}€</span> 
									</h5>
									<p>
										{{ service.shortDescription|raw }}
									</p>
									<div class="space-40"></div>
									<div class="text-right">
										<a href="{{ path('dpc_service_details', { 'id': service.id }) }}" class="btn btn-skin">Plus d'infos</a>
									</div>
								</div>
							</div>
						</div>
					</div><!--products list-->
				{% endfor %}
			</div>
		</div>
	</div>
{% endblock %}