{% trans_default_domain 'FOSUserBundle' %}

    <div class="breadcrumb-wrapper" >
        <div class="container">
            <h1>{{ 'Page de connexion'|upper }}</h1>
        </div>
    </div>
    <!--end breadcrumb-->

    {% if error %}
        <div class="row">
            <div class="col-md-8 col-md-offset-2 alert alert-warning text-center">
                {{ error.messageKey|trans(error.messageData, 'security') }}
            </div>
        </div> <!-- div.row -->
    {% endif %}

    <div class="space-60"></div>

    <div class="container">
    <div class="page-center">
        <div class="page-center-in">
            <form class="sign-box" action="{{ path("fos_user_security_check") }}" method="post">
                <header class="sign-title">Connexion    </header>
                {% if csrf_token %}
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                {% endif %}
                <div class="form-group">
                    <input type="text" class="form-control" id="username" name="_username" value="{{ last_username }}" placeholder="{{ 'security.login.username'|trans }}" required="required" />
                </div>
                <div class="form-group">
                     <input type="password" class="form-control" id="password" name="_password" required="required" placeholder="{{ 'security.login.password'|trans }}" />
                </div>
                <div class="form-group clearfix">
                    <div class="checkbox pull-left">
                        <input type="checkbox" id="remember_me" name="_remember_me" value="on" class="i-checks" />
                        <label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>
                    </div>
                </div>
                <input type="submit" class="btn btn-success rounded btn-lg" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" />
            </form>
        </div><!--page center in-->
    </div><!--page center-->
</div>

