{% extends "DPCAdminBundle::admin_layout.html.twig" %}

{% block admin_content %}
    <div class="row">
        <div class="col-md-6">
            <div class="panel">
                <header class="panel-heading">
                    <h2 class="panel-title">Utilisateurs</span></h2>
                </header>
                <div class="panel-body">
                    {% if users %}
                        <div class="panel-body">
                          <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Pseudo</th>
                                        <th>Email</th>
                                        <th>Activé</th>
                                        <th>Dernière connection</th>
                                        <th>Roles</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for user in users %}
                                        <tr>
                                            <th scope="row">{{ user.id }}</th>
                                            <td>{{ user.username }}</td>
                                            <td>{{ user.email }}</td>
                                            <td>{{ user.enabled }}</td>
                                            <td>{{ user.lastLogin|date("d/m/Y") }}</td>
                                            <td>
                                                {% for role in user.roles %}
                                                    <p>{{ role }}</p>
                                                {% endfor %}
                                            </td>
                                            <td>
                                             Les actions
                                         </td>

                                     </tr>
                                 {% endfor %}
                             </tbody>
                         </table>
                     {% else %}
                        <p>Aucun utilisateurs inscris récemment</p>
                    {% endif %}
                    <form>
                        <input type="text" class="form-control" placeholder="Rerchercher un utilisateur">
                        <i class="ion-search"></i>
                    </form>
                </div>
            </div>
        </div><!--end panel body-->
    </div><!--end panel-->
</div><!--end col 6-->
<div class="col-md-6">
    <div class="panel">
        <header class="panel-heading">
            <div class="panel-actions">
                <a href="javascript:void(0)" class="panel-action panel-action-toggle" data-panel-toggle=""></a>
                <a href="javascript:void(0)" class="panel-action action-link"><i class="ion-refresh"></i></a>
                <a href="javascript:void(0)" class="panel-action panel-action-dismiss" data-panel-dismiss=""></a>
                <div class="dropdown pull-left">
                    <a href="" data-toggle="dropdown" class="dropdown-toggle"><i class="ion-more"></i></a>
                    <ul class="dropdown-menu dropdown-menu-scale">
                        <li><a href="javascript:void(0)">Action</a></li>
                        <li><a href="javascript:void(0)">Just Action</a></li>
                        <li><a href="javascript:void(0)">Action Now</a></li>
                    </ul>
                </div>
            </div>
            <h2 class="panel-title">Analytics</h2>
        </header>
        <div class="panel-body">
            <div class="chartjs-data">
                <canvas id="barChart" height="145"></canvas>
            </div>
        </div><!--end panel body-->
    </div><!--end panel-->
</div><!--end col 6-->
</div><!--end row-->
{% endblock %}